@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.Action("Index", "Clients")">Clients</a>
    <a href="@Url.Action("Index", "Feedbacks")">Feedbacks</a>
    <a href="@Url.Action("Index", "Lessons")">Lessons</a>
    <a href="@Url.Action("Index", "Payments")">Payments</a>
    <a href="@Url.Action("Index", "Services")">Services</a>
    <a href="@Url.Action("Index", "Subscriptions")">Subscriptions</a>
    <a href="@Url.Action("Index", "Trainers")">Trainers</a>
    <a href="@Url.Action("Index", "Visits")">Visits</a>
</div>
